@import '../../app.scss';

.contact{
    height: 100%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;

    @include mobile{
        width: 100%;
        padding: 10px;
        flex-direction: column;
     }

    .textContainer{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include mobile{
            gap: 20px;
            align-items: center;
            text-align: center;
            margin: 70px;
         }

        h1{
            font-size: 100px;
            line-height: 88px;

            @include mobile{
                font-size: 24px;
             }
        }

        span{
            font-weight: 300;
        }
    }

    .formContainer{
        flex: 1;
        position: relative;
        
        @include mobile{
            width: 100%;
            pading: 50px;
          }

        .phoneSvg{
            stroke: orange;
            z-index: -1;
            position: absolute;
            margin: auto;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        input, textarea{
            padding: 20px;
            background-color: transparent;
            border: 1px solid white;
            border-radius: 5px;
            color: white;

            @include mobile{
               padding: 10px;
             }
        }

        button{
            padding: 20px;
            border: none;
            font-weight: 500;
            background-color: orange;
            cursor: pointer;
            @include mobile{
                padding: 10px;
             }
        }
    }
}






